= render partial: "shared/page_title", locals: { title: @title }
= render partial: "categories/shared/category_paragraph", locals: { categories: @categories }
= render partial: "items/shared/items_group", locals: {items: @items }