= link_to hide_subcategories_category_path(category.id), {remote: true, :id => "show_subcategory_icon_#{category.id}", :class => "sub_#{level}"} do
  %span{:class => ["glyphicon","glyphicon-minus-sign", "glyphicon-center"]}